.social_icon {
	width: 45px;
	height: 45px;
	background-size: 45px 45px;
	background-repeat: no-repeat;
	float: middle;
	padding-right: 60px;
	padding-top: 50px;
}
.app_icon {
	width: 80px;
	height: 30px;
	background-size: 80px 30px;
	background-repeat: no-repeat;
	float: middle;
}


.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.social_icon:hover {
	cursor: pointer;
	opacity: .5;
}

.home_icon:hover {
	cursor: pointer;
	opacity: .5;
}

.socialmedia {
	width: 159px;
	float: right;
	padding-top: 10px;
}

.socialmedia_icon {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	float: right;
	padding-right: 7px;
}

.socialmedia_icon:hover {
	cursor: pointer;
	opacity: .6;
}

.home_icon {
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.slider_icon {
	
}

.slider_icon:hover {
	cursor: pointer;
	opacity: .5;
}

.title_icon {
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.title_icon2 {
	width: 400px;
	height: 400px;
	background-size: 400px 400px;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.home_icon2 {
	width: 400px;
	height: 400px;
	background-size: 400px 400px;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.home_icon3 {
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	float: middle;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}
.home_icon4 {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	float: middle;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.review2_icon {
	width: 225px;
	height: 225px;
	background-size: 225px 225px;
	background-repeat: no-repeat;
	float: middle;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.review_icon {
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
	background-repeat: no-repeat;
	float: middle;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.cd-fixed-bg {
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}

.vertical-center{
    position: relative;
	padding-top: 6%;
	float: middle;
	text-align: center;
    
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 800px;  /* The width is the width of the web page */
       }

a {
	text-decoration: none;
	transition: color 0.3s ease;
}	

a:hover {
	color: #0091FB;
}

#menuToggle {
	display: block;
	position: fixed;
	opacity: .9;
	top: 40px;
	left: 50px;
	z-index: 900;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 150%;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 901;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 7px;
	position: relative;
	background: #ffffff;
	z-index: 900;
	transform-origin: 0px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			  opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 20px;
	padding-top: 100px;
	background: #1B1B1B;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
	font-weight: 300;
	font-family: "Source Sans Pro";
}

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}.blue {
}
.center {
}


